
$color:(
    1:red,
    2:green,
    3:yellow,
    4:blue,
    5:greenyellow
);

@for $i from 1 to 6 {
    .paragraph-#{$i} {
        @if($i == 2) {
            background-color: blueviolet;
        }@else if ($i == 4) {
            background-color: chartreuse;
        }@else {
            background-color: crimson;
        }
    }
}

$eachColors : red green yellow blue orange;

@each $colors in $eachColors {
    .paragraph-#{$colors} {
        @if($colors == red) {
            background-color: aqua;
        }
        @else if($colors == yellow){
            background-color: blueviolet;
        }
        @else {
            background-color: chartreuse;
        }
    }
}