$color-first:aqua;
$color-second:greenyellow;
$color-third:red;

.nav {
    background-color: $color-first;
}
.banner h1 {
    // $color-test:rgb(255, 251, 0);
    $color-test:rgb(255, 157, 0) !global;
    color: $color-test;
}

.footer h3 {
    // color: $color-third;
    color: $color-test;
}